<div align="center">

    <h1> User List </h1>
    
    <ul>
        <div class="container">
            <div class="row clearfix">
                <div class="col-md-12 column">
                    <table class="table table-striped">
    
                        <thead>
                            <tr>
                                <th>No.</th>
                                <th>ID</th>
                                <th>Email</th>
                                <th>Status</th>
                                <th>Action</th>
                                <th>Level</th>
                                <th>Operation</th>
                            </tr>
                        </thead>
    
                        <tbody>
                            <tr *ngFor="let index of this.userlist; let i = index">
                                <td>{{i+1}}</td>
                                <td>{{userlist[i]._id}}</td>
                                <td>{{userlist[i].email}}</td>
                                <td>{{userlist[i].status}}</td>
                                <td>
                                    <button mat-button (click)="changetoActivate(userlist[i])" title="Activate">Activate
                                    </button>
                                    <br>
                                    <button mat-button (click)="changetoLock(userlist[i])" title="Lock">Lock
                                    </button>
                                </td>
                                <td>{{userlist[i].level}}</td>
                                <td>
                                    <button mat-button (click)="changetoNormal(userlist[i])" title="Normal">To normal
                                    </button>
                                    <br>
                                    <button mat-button (click)="changetoAdmin(userlist[i])" title="Admin">To admin
                                    </button>
                                </td>
                            </tr>
                        </tbody>
    
                    </table>
                </div>
            </div>
        </div>
    </ul>
    
</div>
