

<!--<header>
    <div class="container">
        <a href="#" class="logo">Web Project</a>
      <mat-toolbar>Menu</mat-toolbar>
      <mat-nav-list>-->

<mat-sidenav-container>
  <mat-sidenav-content>
    <mat-toolbar>
        <span routerLink="/">Web Project</span>
               <a mat-button href="#" routerLink="/admin/user_management" *ngIf="godmode" ><strong>[ Admin Mode ]</strong></a>s
               <a mat-button href="#" routerLink="/login">Login / Sign Up</a>
               <a mat-button href="#" routerLink="/songs/TOP10">Songs</a>
               <a mat-button href="#" routerLink="/playlist/search_playlist">Playlists</a>
               <a mat-button href="#" routerLink="/userprofile">User Profile</a>
        </mat-toolbar>
</mat-sidenav-content>
</mat-sidenav-container>






<div class="container">
    <router-outlet></router-outlet>
</div>

