<div align="center">

<h1> Ranking of Songs </h1>

<ul>
    <div class="container">
        <div class="row clearfix">
            <div class="col-xs-12 column">
                <table mat-table class="table table-striped">

                    <thead>
                        <tr>
                            <th mat-header-cell>Ranking</th>
                            <th mat-header-cell style="display:none">Song ID</th>
                            <th mat-header-cell>Song Title</th>
                            <th mat-header-cell>Artist</th>
                            <th mat-header-cell>No. of reviews</th>
                            <th mat-header-cell>Average rating</th>
                            <th mat-header-cell>Action</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr *ngFor="let index of this.song; let i = index">
                            <td mat-cell>{{i+1}}</td>
                            <td mat-cell style="display:none">{{song[i].ID}}</td>
                            <td mat-cell>{{song[i].Title}}</td>
                            <td mat-cell>{{song[i].Artist}}</td>
                            <td mat-cell>{{song[i].Nor}}</td>
                            <td mat-cell>{{song[i].Ar}}</td>
                            <td mat-cell>
                                <button mat-button (click)="infopage(song[i])" title="View details">Details
                                </button>
                                <button mat-button (click)="addreview(song[i])" title="Add rating and review">Reviews
                                </button>
                                <button mat-button (click)="addtoplaylist(song[i])" title="Add to playlist">Add
                                </button>
                            </td>
                        </tr>
                    </tbody>

                </table>
            </div>
        </div>
    </div>
</ul>

</div>
